export const environment = {
  database: {
    hostname: 'localhost',
    port: 3306,
    database: 'database name',
    username: 'database user',
    password: 'database password'
  },
  botToken: 'bot token',
  chatId: 'chat id',
  checkMemberInterval: '15000', // miliseconds
  validChars: /[^\x20-\x7E]+/g,
  rules : {
    checkAdmin: {
      validate: true,
      banUser: true
    },
    checkKeyword: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkRegex: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkWalletAddress: {
      validate: true,
      removeMessage: true,
      banUser: false
    },
    checkAudio: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkVideo: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkImage: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkUrl: {
      validate: true,
      removeMessage: true,
      banUser: true
    },
    checkAnyFile: {
      validate: true,
      removeMessage: true,
      banUser: true
    }
  },
  badWords: [
    /(test|badword)/gi
  ],
  urlRegex: /(http|https):\/\//i,  
  walletAddress: [
      /(\b0x[a-f0-9]{40}\b)/i,      
      /(\b[0-9a-z]{34}\b)/i,         
      /^5[HJK][0-9A-Za-z&&[^0OIl]]{49}/, 
      /(\b[0-9a-z]{64}\b)/i,         
  ],
  userWarnings: 2,	
  replyMessages: {
    inappropriateContent: 'The message has been deleted because it contained inappropriate content',
    ethAddress: 'The message has been deleted because it contained Wallet address or private key',
    image: 'The message has been deleted because it contained image',
    video: 'The message has been deleted because it contained video',
    audio: 'The message has been deleted because it contained audio',
    url: 'The message has been deleted because it contained external link (url)',
    warning: 'Do not post messages with inappropriate content, Wallet address, audio, video or image. You will be banned if you post such message again' 
  },
  displayMessages: true
};
